@import "tailwindcss";

@theme {
  --color-brand-blue: #0B3A66;
  --color-brand-border: #DCE7F2;
  --color-brand-dark: #0F172A;
  --color-brand-light: #F7FAFC;
  --color-brand-slate: #64748B;
  
  --spacing-input: 42px;
  --radius-10px: 10px;
  --radius-20px: 20px;
}

body{
  font-family: inter;
  color: var(--color-brand-dark);
  background-color: var(--color-brand-light);
}